*, *:after, *:before {
	box-sizing:border-box;
	padding:0;
	margin:0;
}

html, body {
	width:100%;
	height:100%;
}

body {
	font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size:90%;
	padding:10px 0;
}

a {
	color:#000;
	outline:none;
}

h4, p,
blockquote, ul,
fieldset, form,
ol, dl, dir,
menu {
	margin: 10px 0;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

div.title {
	height:80%;
	color:#FFF;
	position:relative;
	text-align:center;
	background-image:url(@(img/logo.svg)?v=20180507);
	background-repeat:no-repeat;
	background-size:300px 300px;
	background-position:center center;
}

div.title:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}

div.title h1 {
	display: inline-block;
	color:#000;
	font-size:3rem;
	vertical-align:middle;
	width:300px;
	height:300px;
}

div.title h1 a {
	display:block;
	text-indent:-10000px;
	width:100%;
	height:100%;
	text-decoration:none;
}

h1 a, h2 a, h3 a, h4 a {
	text-decoration:none;
}

h2 {
	font-size:1.5rem;
}

h3 {
	font-size:1.2rem;
}

.nav-collapse {
	display:none;
}

.nav-main {
	display:block;
}

.nav-main .home a {
	background-image:url(@(img/flag.svg)?v=20180507);
	background-repeat:no-repeat;
	background-size:20px 20px;
	background-position:center center;
	text-indent:-10000px;
	padding:10px 20px;
}

.nav-main .home a:hover {
	background-image:url(@(img/flag-white.svg)?v=20180507);
	background-repeat:no-repeat;
	background-size:20px 20px;
	background-position:center center;
}

.nav-collapse li {
	float:right;
}

.nav-collapse li.brand {
	float:left;
}


.nav-header {
	width:100%;
	text-align:center;
}

.nav-sticky .nav-header {
	position:fixed;
	top:0;
	left:0;
	background:#FFF;
}

.nav-sticky .content {
	margin-top:36px;
}

.nav-header ul {
	list-style:none;
	padding:0;
	margin:0;
}

.nav-header ul li {
	display:inline-block;
}

.nav-header ul li a {
	display:inline-block;
	padding:10px 15px;
	color:#000;
	font-size:0.8rem;
	text-decoration:none;
	color:#000;
	text-transform:uppercase;
	letter-spacing:2px;
	text-decoration:none;
}

.nav-header ul li a.active,
.nav-header ul li a:hover {
	background:#000;
	color:#FFF;
}

div.content {
	margin:0 auto;
	max-width:820px;
	padding:40px 10px;
}

.posts img {
	width:100%;
	height:auto;
	display:block;
}

.post {
	margin-bottom:1rem;
}

.nav-meta {
	padding:0 0 20px 0;
}

.nav-meta ul {
	list-style:none;
	width:100%;
	text-align:right
	padding:0;
	margin:0;
}

.nav-meta ul li {
	display:inline-block;
	float:right;
	padding:0 10px;
}

.nav-meta ul li:first-child {
	padding-left:0px;
}

.nav-meta ul li:last-child {
	padding-right:0px;
}

.nav-meta ul li.date {
	display:inline-block;
	float:left;
}

.nav-meta ul li a {
	font-size:1rem;
	text-decoration:none;
}

.nav-meta ul li.date a {
	color:#999;
	font-size:0.7rem;
}

hr {
	height:1px;
	border:none;
	border-bottom:1px solid #FFF;
	margin:10px auto;
}

.infinite-scroll {
	height:0px;
	overflow:hidden;
	font-size:1.5rem;
	color:#999;
	text-align:center;
}

.infinite-scroll.loading {
	height:auto;
}

.footer {
	text-align:center;
	font-size:0.8rem;
	text-transform:uppercase;
	padding:10px;
	display:none;
}

.footer a {
	display:inline-block;
	padding:10px 15px;
	text-decoration:none;
}

.footer a:hover {
	background:#000;
	color:#FFF;
}

.ratio {
	position:relative;
	width:100%;
	border:1px solid transparent;
}

.ratio:before {
	content:"";
	display:block;
	margin-top:100%;
}

.ratio.ratio-16-9:before {
	margin-top:56.25%;
}

.ratio.ratio-16-9 *:first-child {
	position:absolute;
	top:0px;
	left:0px;
	bottom:0px;
	right:0px;
	width:100%;
	height:100%;
}

@media (max-width: 820px) {
	div.title h1 {
		font-size:1rem;
	}
	
	.nav-collapse {
		display:block;
	}
	
	.nav-main {
		display:none;
		border-top:1px solid #000;
		border-bottom:1px solid #000;
	}
	
	.nav-main li.home {
		display:none;
	}
	
	.nav-main li {
		display:block;
		width:50%;
		float:right;
	}
	
	.nav-main li a {
		display:block;
		width:100%;
		text-align:right;
	}
}